<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script>
        // Check authentication status
        var accessToken = localStorage.getItem('accessToken');
        if (!accessToken) {
            // Redirect to login page if not authenticated
            window.location.replace('/login_page/');
        }
        // If authenticated, the rest of the page content will load
    </script>
    <style>
        {% comment %} body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
        }
        #main-content {
            padding: 20px;
        } {% endcomment %}
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
            backdrop-filter: blur(5px); /* Blur effect */
            -webkit-backdrop-filter: blur(5px); /* For Safari */
            z-index: 99; /* Ensure it's above main content */
        }
        .project-form-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            z-index: 100; /* Ensure it's above the overlay */
        }
        .hidden {
            display: none;
    }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css" />
    
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>


</head>
<body>
    <h2>Dashboard page</h2>
    <div style="text-align: right;">
            <b><button id="logout_button" type="submit">Logout</button></b>
    </div> <br>

    <div id="overlay" class="overlay hidden"></div>

    <button onclick="showCreateProjectForm()">Create New Project</button> <br> <br>

    <div id="create_project"  class="project-form-container hidden">
        <h2>Create Project</h2>
        <b> <p id="null_create_project"></p> </b>
        <label for="project_name">Project Name:</label>
        <input type="text" id="project_name" name="project_name" ><br><br>
        <label for="project_start_date">Project Start Date:</label>
        <input type="date" id="project_start_date" name="project_start_date" ><br><br>
        <label for="project_end_date">Project End Date:</label>
        <input type="date" id="project_end_date" name="project_end_date" ><br><br>
        <button id="project_submit_button" type="submit">Save</button><br><br>
        <button type="button" onclick="hideCreateProjectForm()">Cancel</button>
    </div>

    <div id="edit_project" class="project-form-container hidden">
        <h2>Edit Project</h2>
        <b> <p id="null_edit_project"></p> </b>
        <label for="editProject_name">Project Name:</label>
        <input type="text" id="editProject_name" name="editProject_name" ><br><br>
        <label for="editProject_start_date">Project Start Date:</label>
        <input type="date" id="editProject_start_date" name="editProject_start_date" ><br><br>
        <label for="editProject_end_date">Project End Date:</label>
        <input type="date" id="editProject_end_date" name="editProject_end_date" ><br><br>
        <input type="hidden" id="editProjectDetails" name="editProjectDetails" value="no set data">
        <button type="button" onclick="saveChanges()">Save</button>
        <button type="button" onclick="cancelEdit()">Cancel</button>
    </div>

    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>sr no</th>
                <th>Project Name</th>
                <th>Project Start date</th>
                <th>Project End date</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>

</body>
</html>

    <script>

        function saveChanges() {
            var project_name = $("#editProject_name").val();
            var project_start_date = $("#editProject_start_date").val();
            var project_end_date = $("#editProject_end_date").val();
            var projectDetailObjects = JSON.parse($("#editProjectDetails").val());
            if(project_name != '' &&  project_start_date != '' && project_end_date != '' ){
                var payload = {
                    "project_name" : project_name,
                    "project_start_date" : project_start_date,
                    "project_end_date" : project_end_date
                    }
                $.ajax({
                    url: '/task/project/' + projectDetailObjects.id +'/', // Your server-side endpoint
                    type: 'PUT', // Or POST if your API uses it for updates
                    //contentType: 'application/json', // Specify content type for JSON data
                    //data: JSON.stringify(payload), // Send updated data as JSON
                    dataType: 'json', // Specify content type for JSON data
                    data: payload, // Send updated data as JSON
                    headers: {
                                "Authorization": "Bearer " + accessToken
                            },
                    success: function(response) {
                        // Handle successful update (e.g., update the displayed record, close modal)
                        console.log("Record updated successfully:", response);
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error("Error updating record:", error);
                    },
                    complete: function() {
                        // This function is executed regardless of success or failure
                        console.log('API call completed.');
                    }
                });
            } else{
                $("#null_edit_project").text("Please fill all requied field");
            } }

        function cancelEdit() {
            $('#overlay').addClass('hidden');
            $('#edit_project').addClass('hidden');
            $('body').css('overflow', 'auto');
            }

        function editProject(projectDetails) {
            $('#overlay').removeClass('hidden');
            $('#edit_project').removeClass('hidden');
            $('body').css('overflow', 'hidden');
            let projectDetailString = JSON.stringify(projectDetails);
            console.log("console projectDetails : ", projectDetails)
            // document.getElementById('table_id').classList.add('blurred');
            $("#editProject_name").val(projectDetails.project_name);
            $("#editProject_start_date").val(projectDetails.project_start_date);
            $("#editProject_end_date").val(projectDetails.project_end_date);
            $("#editProjectDetails").val(projectDetailString);
            }
        
        function deletePoject(projectId) {
            console.log("the project ... ",projectId)
            $.ajax({
                url: '/task/project/' + projectId + '/', // Replace with your API endpoint
                method: 'DELETE', // Or 'POST', 'PUT', 'DELETE'
                dataType: 'json', // Expected data type from the server (e.g., 'json', 'xml', 'html')
                headers: {
                            "Authorization": "Bearer " + accessToken
                        },
                success: function(response) {
                    // Handle successful response
                    console.log('Delete successfully ..:', response);
                    window.location.reload();
                    // window.location.replace('/task/dashboard_page/');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Handle errors
                    console.error('Error:', textStatus, errorThrown);
                },
                complete: function() {
                    // This function runs regardless of success or error
                    console.log('Request complete.');
                }
            });   
        }
        function showCreateProjectForm() {
            $('#overlay').removeClass('hidden');
            $('#create_project').removeClass('hidden');
            $('body').css('overflow', 'hidden');
        }
        function hideCreateProjectForm() {
            $('#overlay').addClass('hidden');
            $('#create_project').addClass('hidden');
            $('body').css('overflow', 'auto');
        }


        $(document).ready(function() {
            console.log("accessToken my value... ", accessToken)

            $('#logout_button').click(function(event) {
                localStorage.removeItem('accessToken');
                localStorage.removeItem('refreshToken');
                window.location.href = '/login_page/'; // Example redirect
            });

            $("#project_submit_button").click(function(event) {
                var project_name = $("#project_name").val();
                var project_start_date = $("#project_start_date").val();
                var project_end_date = $("#project_end_date").val();
                if(project_name != "" && project_start_date != "" && project_end_date != ""){
                    var payload = {
                        "project_name" : project_name,
                        "project_start_date" : project_start_date,
                        "project_end_date" : project_end_date
                    }
                    $.ajax({
                        url: "http://127.0.0.1:8000/task/project/",
                        method: 'POST', // HTTP method (GET, POST, PUT, DELETE, etc.)
                        dataType: 'json', // Expected data type of the response (e.g., 'json', 'xml', 'html')
                        data : payload,
                        headers: {
                                "Authorization": "Bearer " + accessToken
                            },
                        success: function(response) {
                            // This function is executed if the request is successful
                            console.log('project create successful:', response);
                            window.location.reload();
                        },
                        error: function(xhr, status, error) {
                            // This function is executed if the request fails
                            console.error('new Project create failed:', status, error);
                            // Handle the error appropriately
                        },
                        complete: function() {
                            // This function is executed regardless of success or failure
                            console.log('Project create API call completed.');
                        }
                        });
                } else{
                    $("#null_create_project").text("Please fill all requied field");
                }
            } )

            $('#table_id').DataTable( {
                ajax: {
                    url: '/task/project/',
                    type: 'GET', // Or 'POST', 'PUT', etc. depending on your API
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
                    },
                    dataSrc: ''
                },
                    columns: [
                        {
                            data: null, // No data source for this column
                            title: "Sr. No.",
                            render: function (data, type, row, meta) {
                                return meta.row + 1; // Returns the row index + 1
                            }
                        },
                        { data: 'project_name' },
                        { data: 'project_start_date' },
                        { data: 'project_end_date' },
                        {
                            data: null, // No direct data source for this column
                            render: function (data, type, row) {
                                // 'row' contains the full data for the current row
                                return `
                                    <button class="btn btn-info btn-sm view-btn" style="background-color: silver;" data-id="${row.id}" onclick="window.location.href='/task/manager_task_page/' + ${row.id} + '/';">View</button>
                                    <button class="btn btn-primary btn-sm edit-btn" style="background-color: #007bff;color:white;" onclick='editProject(${JSON.stringify(row)})' data-id="${row.id}" >Edit</button>
                                    <button class="btn btn-danger btn-sm delete-btn" style="background-color: #f44336;color:white;" onclick="deletePoject(${row.id})" data-id="${row.id}">Delete</button>
                                `;
                            },
                            title: "Actions" // Column header
                        }

                    ]
            }
            );
     });
           
    </script>








    






