<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManagerTask</title>
    <script>
        // Check authentication status
        var accessToken = localStorage.getItem('accessToken');
        if (!accessToken) {
            // Redirect to login page if not authenticated
            window.location.replace('/login_page/');
        }
        // If authenticated, the rest of the page content will load
    </script>
    <style>
        a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        }
        a:hover {
        background-color: #ddd;
        color: black;
        }
        .previous {
        background-color: #04AA6D;
        color: white;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
            backdrop-filter: blur(5px); /* Blur effect */
            -webkit-backdrop-filter: blur(5px); /* For Safari */
            z-index: 99; /* Ensure it's above main content */
        }
        .task-form-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            z-index: 100; /* Ensure it's above the overlay */
        }
        .hidden {
            display: none;
    }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css" />
    
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>

<body>
    <h1>manager task</h1>
    <div id="projectNumber" data-project_id="{{ project_id }}"></div>

    <div id="overlay" class="overlay hidden"></div>

    <button onclick="showCreateTaskForm()" style="font-weight: bold;">Create New Task</button> <br> <br>

    <div id="createTask"  class="task-form-container hidden">
        <h2>Create Task</h2>
        <b> <p id="nullCreateTask"></p> </b>
        <label for="taskName">Task Name : </label>
        <input type="text" id="taskName" name="taskName" ><br><br>
        <label for="managerStartDate">Task Start Date : </label>
        <input type="date" id="managerStartDate" name="managerStartDate" ><br><br>
        <label for="managerEndDate">Task End Date : </label>
        <input type="date" id="managerEndDate" name="managerEndDate" ><br><br>
        <b> <p id="notValidAssign" style="display: none;"></p> </b>
        <label for="assign">Assign : </label>
        <input type="text" id="assign" name="assign" ><br><br>
        <button id="taskSubmitButton" type="submit">Save</button><br><br>
        <button type="button" onclick="hideCreateTaskForm()">Cancel</button>
    </div>

    <div id="editTaskForm" class="task-form-container hidden">
        <h2>Edit Task</h2>
        <b> <p id="nullEditTask"></p> </b>
        <label for="editTaskName">Task Name : </label>
        <input type="text" id="editTaskName" name="editTaskName" ><br><br>
        <label for="editManagerStartDate">Task Start Date : </label>
        <input type="date" id="editManagerStartDate" name="editManagerStartDate" ><br><br>
        <label for="editManagerEndDate">Task End Date : </label>
        <input type="date" id="editManagerEndDate" name="editManagerEndDate" ><br><br>
        <b> <p id="editNotValidAssign" style="display: none;"></p> </b>
        <label for="editAssign">Assign : </label>
        <input type="text" id="editAssign" name="editAssign" ><br><br>
        <input type="hidden" id="editTaskDetails" name="editTaskDetails" value="no set task detail">
        <button type="button" onclick="saveChanges()">Save</button>
        <button type="button" onclick="cancelEdit()">Cancel</button>
    </div>

    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>sr no</th>
                <th>Project Name</th>
                <th>Task Name</th>
                <th>Task Start Date</th>
                <th>Task End Date</th>
                <th>Assign</th>
                <th>Employee Start Date</th>
                <th>Employee End Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
    <a href="{% url 'dashboard_page' %}" class="previous">&laquo; Go To Back</a>

</body>
</html>


<script>
    var project_id = $('#projectNumber').data('project_id');
    
    function saveChanges() {
        var editTaskName = $("#editTaskName").val();
        var editManagerStartDate = $("#editManagerStartDate").val();
        var editManagerEndDate = $("#editManagerEndDate").val();
        var editAssign = $("#editAssign").val();
        var taskDetailObjects = JSON.parse($("#editTaskDetails").val());
        if(editTaskName != '' &&  editManagerStartDate != '' && editManagerEndDate != '' && editAssign != '' ){
            $.ajax({
                url: `/task/users_profile/${editAssign}/`,
                method: 'GET', // or 'POST', 'PUT', etc.
                dataType: 'json', // or 'text', 'html', etc.
                headers: {
                            "Authorization": "Bearer " + accessToken
                        },
                success: function(data) {
                    // Execute the provided callback function with the received data
                    //  if condition exiqute when data is massage = this user name not exist
                    if ('massage' in data || data[0].user_type == "Manager") {
                        $("#editNotValidAssign").show();
                        $("#editNotValidAssign").text("This User name is not exist.");
                    } else {
                        var managerTaskPayload = {
                            "task_name" : editTaskName,
                            "manager_start_date" : editManagerStartDate,
                            "manager_end_date" : editManagerEndDate,
                            "assign" : editAssign,
                            "project" : taskDetailObjects.manager_task.project.id
                            }
                        $.ajax({
                            url: '/task/managertask/' + taskDetailObjects.manager_task.id +'/', // Your server-side endpoint
                            type: 'PUT', // Or POST if your API uses it for updates
                            dataType: 'json', // Specify content type for JSON data
                            data: managerTaskPayload, // Send updated data as JSON
                            headers: {
                                        "Authorization": "Bearer " + accessToken
                                    },
                            success: function(response) {
                                // Handle successful update (e.g., update the displayed record, close modal)
                                console.log("Manager task updated successfully:", response);
                            },
                            error: function(xhr, status, error) {
                                console.error("Error updating record:", error);
                            },
                            complete: function() {
                                // This function is executed regardless of success or failure
                                console.log('API call completed.');
                            }
                        });
                        
                        var employeeTaskPayload = {
                            "manager_task" : taskDetailObjects.manager_task.id,
                            "user" : data[0].id
                            }
                        $.ajax({
                            url: '/task/employeetask/' + taskDetailObjects.id +'/', // Your server-side endpoint
                            type: 'PUT', // Or POST if your API uses it for updates
                            dataType: 'json', // Specify content type for JSON data
                            data: employeeTaskPayload, // Send updated data as JSON
                            headers: {
                                        "Authorization": "Bearer " + accessToken
                                    },
                            success: function(response) {
                                // Handle successful update (e.g., update the displayed record, close modal)
                                console.log("Employee task updated successfully:", response);
                                window.location.reload();
                            },
                            error: function(xhr, status, error) {
                                console.error("Error updating record:", error);
                            },
                            complete: function() {
                                // This function is executed regardless of success or failure
                                console.log('API call completed.');
                            }
                        });
                    }
                },
                error: function(xhr, status, error) {
                console.error("AJAX error:", status, error);
                }
            });
        } else{
            $("#nullEditTask").text("Please fill all requied field");
        } }

    function cancelEdit() {
        $('#overlay').addClass('hidden');
        $('#editTaskForm').addClass('hidden');
        $('body').css('overflow', 'auto');
        }

    function editTask(taskDetails) {
        let taskDetailString = JSON.stringify(taskDetails);
        $('#overlay').removeClass('hidden');
        $('#editTaskForm').removeClass('hidden');
        $('body').css('overflow', 'hidden');
        $("#editTaskName").val(taskDetails.manager_task.task_name);
        $("#editManagerStartDate").val(taskDetails.manager_task.manager_start_date);
        $("#editManagerEndDate").val(taskDetails.manager_task.manager_end_date);
        $("#editAssign").val(taskDetails.manager_task.assign);
        $("#editTaskDetails").val(taskDetailString);
        }
    
    function deleteTask(taskId) {
        $.ajax({
            url: '/task/managertask/' + taskId + '/', // Replace with your API endpoint
            method: 'DELETE', // Or 'POST', 'PUT', 'DELETE'
            dataType: 'json', // Expected data type from the server (e.g., 'json', 'xml', 'html')
            headers: {
                        "Authorization": "Bearer " + accessToken
                    },
            success: function(response) {
                // Handle successful response
                console.log('Delete successfully ..:', response);
                window.location.reload();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Handle errors
                console.error('Error:', textStatus, errorThrown);
            },
            complete: function() {
                // This function runs regardless of success or error
                console.log('Request complete.');
            }
        });   
    }
    function showCreateTaskForm() {
        $('#overlay').removeClass('hidden');
        $('#createTask').removeClass('hidden');
        $('body').css('overflow', 'hidden');
    }
    function hideCreateTaskForm() {
        $('#overlay').addClass('hidden');
        $('#createTask').addClass('hidden');
        $('body').css('overflow', 'auto');
    }

    $(document).ready(function() {

            $("#taskSubmitButton").click(function(event) {
                var taskName = $("#taskName").val();
                var managerStartDate = $("#managerStartDate").val();
                var managerEndDate = $("#managerEndDate").val();
                var assign = $("#assign").val();
                if(taskName != '' &&  managerStartDate != '' && managerEndDate != '' && assign != '' ){
                    // this ajax give user detail when assign (username) is exist
                    $.ajax({
                        url: `/task/users_profile/${assign}/`,
                        method: 'GET', // or 'POST', 'PUT', etc.
                        dataType: 'json', // or 'text', 'html', etc.
                        headers: {
                                    "Authorization": "Bearer " + accessToken
                                },
                        success: function(data) {
                            // Execute the provided callback function with the received data
                            //  if condition exiqute when data is massage = this user name not exist
                            if ('massage' in data || data[0].user_type == "Manager") {
                                $("#notValidAssign").show();
                                $("#notValidAssign").text("This User name is not exist.");
                            } else {
                                var managerTaskPayload = {
                                    "task_name" : taskName,
                                    "manager_start_date" : managerStartDate,
                                    "manager_end_date" : managerEndDate,
                                    "assign" : assign,
                                    "project" : project_id
                                    }   
                                // this ajax call is create manager task when assign is exist in user models 
                                $.ajax({
                                    url: '/task/managertask/',
                                    method: 'POST', // HTTP method (GET, POST, PUT, DELETE, etc.)
                                    dataType: 'json', // Expected data type of the response (e.g., 'json', 'xml', 'html')
                                    data : managerTaskPayload,
                                    headers: {
                                            "Authorization": "Bearer " + accessToken
                                        },
                                    success: function(response) {
                                        // This function is executed if the request is successful
                                        console.log('task create successful:', response);
                                        var employeeTaskPayload = {
                                            "manager_task" : response.id,
                                            "user" : data[0].id
                                        }
                                        // this ajax call when new manager is create
                                        $.ajax({
                                            url: '/task/employeetask/', // Your server-side endpoint
                                            type: 'POST', // Or POST if your API uses it for updates
                                            dataType: 'json', // Specify content type for JSON data
                                            data: employeeTaskPayload, // Send updated data as JSON
                                            headers: {
                                                        "Authorization": "Bearer " + accessToken
                                                    },
                                            success: function(response) {
                                                // Handle successful update (e.g., update the displayed record, close modal)
                                                console.log("Employee task updated successfully:", response);
                                                window.location.reload();
                                            },
                                            error: function(xhr, status, error) {
                                                console.error("Error updating record:", error);
                                            },
                                            complete: function() {
                                                // This function is executed regardless of success or failure
                                                console.log('API call completed.');
                                            }
                                        });                            

                                    },
                                    error: function(xhr, status, error) {
                                        // This function is executed if the request fails
                                        console.error('new Project create failed:', status, error);
                                        // Handle the error appropriately
                                    },
                                    complete: function() {
                                        // This function is executed regardless of success or failure
                                        console.log('Project create API call completed.');
                                    }
                                });
                            }
                        },
                        error: function(xhr, status, error) {
                        console.error("AJAX error:", status, error);
                        }
                    })
                } else{
                    $("#nullCreateTask").text("Please fill all requied field");
                }
            })

        $('#table_id').DataTable( {
            ajax: {
                url: 'http://127.0.0.1:8000/task/task_detail/',
                type: 'GET', // Or 'POST', 'PUT', etc. depending on your API
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
                },
                dataSrc: ''           
            },
                columns: [
                        {
                            data: null, // No data source for this column
                            title: "Sr. No.",
                            render: function (data, type, row, meta) {
                                return meta.row + 1; // Returns the row index + 1
                            }
                        },
                        { data: 'manager_task.project.project_name' },
                        { data: 'manager_task.task_name' },
                        { 
                            data: 'manager_task.manager_start_date',
                            render: function ( data, type, row ) {
                                var dateSplit = data.split('-');
                                return `${dateSplit[2]}-${dateSplit[1]}-${dateSplit[0]}`;
                            }
                        },
                        {
                            data: 'manager_task.manager_end_date',
                            render: function ( data, type, row ) {
                                var dateSplit = data.split('-');
                                return `${dateSplit[2]}-${dateSplit[1]}-${dateSplit[0]}`;
                            }
                        },
                        { data: 'manager_task.assign' },
                        { 
                            data: 'employee_start_date',
                            render: function ( data, type, row) {
                                if(data == null){
                                    return "-";
                                } else {
                                    return data
                                }
                            } 
                        },
                        { 
                            data: 'employee_end_date',
                            render: function ( data, type, row) {
                                if(data == null){
                                    return "-";
                                } else {
                                    return data
                                }
                            } 
                        },
                        {
                            data: 'employee_end_date',
                            render: function ( data, type, row ){
                                if(data){
                                    return "<b>Success</b>"
                                }else {
                                    return "<b>Pending</b>"
                                }
                            }
                        },
                        {
                            data: null, // No direct data source for this column
                            render: function (data, type, row) {
                                // 'row' contains the full data for the current row
                                return `
                                    <button class="btn btn-primary btn-sm edit-btn" style="background-color: #007bff;color:white;" onclick='editTask(${JSON.stringify(row)})' data-id="${row.id}" >Edit</button>
                                    <button class="btn btn-danger btn-sm delete-btn" style="background-color: #f44336;color:white;" onclick="deleteTask(${row.manager_task.id})" data-id="${row.id}">Delete</button>
                                `;
                            },
                        }
                    ],
                    initComplete: function(settings, json) {
                        var table = this.api();
                        table.rows().every(function(rowIdx, tableLoop, rowLoop) {
                            var data = this.data();
                            // Remove a row based on a condition after it has been drawn
                            if (data.manager_task.project.id != project_id) {
                                this.remove();
                            }
                        });
                        table.draw();
                    }

        } );    
    }) 

</script>

