<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        }
        a:hover {
        background-color: #ddd;
        color: black;
        }
        .previous {
        background-color: #04AA6D;
        color: white;
        }
    </style>

</head>
<body>
    <h2>Login page</h2>
    <b> <p id="null_field"></p> </b>


    <label for="username">User Name : </label>
    <input type="text" id='username' name='username' required> <br><br>
    <label for="password">Password : </label>
    <input type="password" id='password' name='password' required> <br><br>
    <button id="submitbtn" type="submit">Login</button><br><br>
    <a href="{% url 'registration_page' %}" class="previous">Registration &raquo;</a>
    
</body>
</html>




<script>


    $(document).ready(function() {
        
        $("#submitbtn").click(function(event) {
            var username = $("#username").val();
            var password = $("#password").val();
            if(username != '' &&  password != ''  ){
                var payload = {
                    "username" : username,
                    "password" : password
                }
                $.ajax({
                url: 'http://127.0.0.1:8000/login/', // Replace with your API endpoint
                method: 'POST', // HTTP method (GET, POST, PUT, DELETE, etc.)
                dataType: 'json', // Expected data type of the response (e.g., 'json', 'xml', 'html')
                data : payload, // Data to be sent in the request body
                success: function(response) {
                    // This function is executed if the request is successful
                    console.log('API call successful:', response);
                    localStorage.setItem('accessToken', response.access);
                    localStorage.setItem('refreshToken', response.refresh);
                    // This ajax call to get user type and set as userType in localStorage
                    $.ajax({
                        url: `/task/users_profile/${username}/`,
                        method: 'GET', // or 'POST', 'PUT', etc.
                        dataType: 'json', // or 'text', 'html', etc.
                        headers: {
                                    "Authorization": "Bearer " + response.access
                                },
                        success: function(data) {
                            localStorage.setItem('userType', data[0].user_type);
                            localStorage.setItem('userType', data[0].user_type);
                            window.location.replace('/task/dashboard_page/');
                        },
                        error: function(xhr, status, error) {
                        console.error("AJAX error:", status, error);
                        }
                    })
                },
                error: function(xhr, status, error) {
                    // This function is executed if the request fails
                    console.error('API call failed:', status, error);
                    // Handle the error appropriately
                },
                complete: function() {
                    // This function is executed regardless of success or failure
                    console.log('API call completed.');
                }
                });
            }else{
                    $("#null_field").text("Please fill all requied field");
            }
        });
    });







</script>