<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Registration</title>
    <style>
        a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        }
        a:hover {
        background-color: #ddd;
        color: black;
        }
        .previous {
        background-color: #04AA6D;
        color: white;
        }
        </head>
    </style>
    

<body>
    <h2>Registration page</h2>
    <b> <p id="null_field"></p> </b>
    {% comment %} <form action="" method="POST"> {% endcomment %}
    {% comment %} <form> {% endcomment %}
        <label for="user_type">User Type : </label>
        <input type="text" id='user_type' name='user_type' required> <br><br>
        <label for="username">User Name : </label>
        <input type="text" id='username' name='username' required> <br><br>
        <label for="password">Password : </label>
        <input type="password" id='password' name='password' required> <br><br>
        <label for="email">Email : </label>
        <input type="email" id='email' name='email'> <br><br>
        <label for="first_name">First Name : </label>
        <input type="text" id='first_name' name='first_name' required> <br><br>
        <label for="last_name">Last Name : </label>
        <input type="text" id='last_name' name='last_name' required> <br><br>
        <button id="submitbtn" type="submit">Submit</button><br><br>
    {% comment %} </form> {% endcomment %}
    {% comment %} </form> {% endcomment %}
    <a href="{% url 'login_page' %}" class="previous">&laquo; Go To Back</a>
</body>
</html>

<script>
    $(document).ready(function() {
    console.log("in ready document ")
    $("#submitbtn").click(function(event) {
        var user_type = $("#user_type").val();
        var username = $("#username").val();
        var password = $("#password").val();
        var email = $("#email").val();
        var first_name = $("#first_name").val();
        var last_name = $("#last_name").val();
        console.log("in above log .")
        console.log(user_type, username, password, email, first_name, last_name)
        if(user_type != "" && username != "" && password != "" && first_name != "" && last_name != "")
        {

            console.log("enter payload")
            var payload = {
                "user_type" : user_type,
                "username" : username,
                "password" : password,
                "email" : email,
                "first_name" : first_name,
                "last_name" : last_name
            }
            $.ajax({
            url: 'http://127.0.0.1:8000/registration/', // Replace with your API endpoint
            method: 'POST', // HTTP method (GET, POST, PUT, DELETE, etc.)
            dataType: 'json', // Expected data type of the response (e.g., 'json', 'xml', 'html')
            data : payload, // Data to be sent in the request body

            success: function(response) {
                // This function is executed if the request is successful
                console.log('API call successful:', response);
                window.location.replace('/login_page/');
                
                /*
                console.log('API call successful:');
                // Process the received data here
                if (response.status === 'success') { // Example: check a 'status' field in the response
                    window.location.href = 'login.html/'; // Redirect to the thank you page
                    // Or, if the server provides the redirect URL in the response:
                    // window.location.href = response.redirectUrl;
                } else {
                    // Handle other success scenarios or display messages
                    console.log('AJAX request successful, but no redirect needed.');
                }
                 */
            },
            error: function(xhr, status, error) {
                // This function is executed if the request fails
                console.error('API call failed:', status, error);
                // Handle the error appropriately
            },
            complete: function() {
                // This function is executed regardless of success or failure
                console.log('API call completed.');
            }
            });
        }
        else{
            document.getElementById("null_field").innerHTML = "Please fill all requied field";
           // alert("Enter all Field which is required")
        } 
    });
    });
</script>






